<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otp Verification</title>
</head>
<body>
    <h1>Otp Verification</h1>
    <hr>
    <small>Hello, {{username}}</small>

    <p>Your Otp is <span style="font-weight: bolder; font-size: larger; background-color: rgb(230, 233, 236); padding: 4px;">{{otp}}</span></p>

    <p>This otp is valid for 1 day only..</p>
    <em>Thank you</em><br/>
    <em>Team <b>kk</b></em>

</body>
</html>